//layout
body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 110rem;

    margin-top: 3.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    max-width: 110rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;

    ul {
        display: flex;
        list-style: none;
        gap: 3rem;
    }

    .button-signup {
        border-radius: .4rem;
        width: 7.6rem;
        height: 3.4rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 33.3rem;
    margin: 10rem 0 5rem 0;

    &__heading {
        text-align: center;
        max-width: 110rem;
    }

    &__features {
        width: 79.4rem;

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                &::before {
                    content: url(../images/check.svg);
                    margin-right: 2rem;
                }
            }
        }
    }
}

.billing {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 8.2rem;
    width: 39.2rem;

    &__highlight {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8.2rem;

        &__text {
            position: absolute;
            top: 1rem;
            left: -5rem;
            transform: rotate(-10deg);
        }

        &__image {
            position: absolute;
            bottom: 1.2rem;
            left: 1.6rem;
        }
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 1000;

        &__switch {
            display: flex;
            padding: 0.7rem;
            width: 5.7rem;
            height: 3rem;
            border-radius: 6rem;
            position: relative;

            .bullet {
                position: absolute;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                background-color: blue;
                
                &--yearly {
                    animation-name: chooseYearly;
                    animation-duration: .2s;
                    animation-fill-mode: both;
                }

                &--monthly {
                    animation-name: chooseMonthly;
                    animation-duration: .2s;
                    animation-fill-mode: both;
                }
            }
        }
    }
}

.pricing {
    display: flex;
    justify-content: center;
    gap: 5rem;
    max-width: 110rem;
    margin-bottom: 10rem;
}

.card {
    border-radius: 0.4rem;
    width: 30rem;
    height: 47.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button-action {
        width: 22.3rem;
        height: 5.2rem;
    }

    &__line {
        width: 10rem;
    }

    &__features {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}
