$color-dark: #0A0047;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #747474;
$color-blue: #1465FA;

$color-background-blue: #1465FA;
$color-background-gray: #E1E1E1;
$color-background-black: #2C3140;

$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
